.fieldDiv {
    display: flex;
    flex-direction: column;

}

.profile-form {
    display: flex;
    flex-direction: column;
    margin-right: 10em;
    margin-top: 5em;
    min-width: 30em;
    max-width: 30em;
}

.profile-container {
    display: flex;
    flex-direction: row;
    text-align: center;
}

h1 {
    font-size:8em;
    text-align: left;
    margin-left: 1em;
}

h2 {
    font-size:2em;
    text-align: center;
}

#password-form {
    margin-right: 20em;
    align-content: center;
    margin-top: 5em;
}

#update-button {
    background-color: aliceblue;
    width: 80%;
    align-content: center;
    text-align: center;
    height: 3em;
}