.fieldDiv {
    display: flex;
    flex-direction: column;
}

.profile-form {
    display: flex;
    flex-direction: column;
    margin-right: 10em;
    margin-top: 5em;
    min-width: 30em;
    max-width: 30em;
}

.profile-container {
    display: flex;
    flex-direction: row;
    text-align: center;
}

h1 {
    font-size:8em;
    text-align: left;
    margin-left: 1em;
}

h2 {
    font-size:2em;
    text-align: center;
}

#password-form {
    margin-right: 20em;
    align-content: center;
    margin-top: 5em;
}

#update-button {
    background-color: aliceblue;
    width: 80%;
    align-content: center;
    text-align: center;
    height: 3em;
}

.my-listings {
    margin-left: 10em;
    margin-top: 5em;
}

div.scroll-menu {
    overflow: auto;
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
  }

  div.scroll-menu .card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  #add-listing {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: right;
    align-content: center;
    margin-right: 20em;
    margin-top: 5em;
  }

  .formInputText {
      background-color: rgba(207, 220, 247, 0.041);
  }