.fieldDiv {
    display: flex;
    flex-direction: column;
}

#description {
    height: 5em;
}

.profile-form {
    display: flex;
    flex-direction: column;
    margin-right: 20em;
    margin-top: 5em;
    min-width: 30em;
    max-width: 60em;
}

.manage-listings-form {
    display: flex;
    flex-direction: column;
    margin-right: 10em;
    margin-top: 4em;
    min-width: 30em;
    max-width: 50em;
}

.profile-container {
    display: flex;
    flex-direction: row;
    text-align: center;
}

h1 {
    font-size:8em;
    text-align: left;
    margin-left: 1em;
}

h2 {
    font-size:2em;
    text-align: center;
}

#password-form {
    margin-right: 20em;
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    text-align: center;
    min-width: 30em;
    max-width: 60em;
}

.my-listings {
    margin-left: 10em;
    margin-top: 3em;
    max-width: 40%;
}

.buttons {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

div.scroll-menu {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;

  }

  div.scroll-menu .card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    display: inline-block;

  }

  #add-listing {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: right;
    align-content: center;
  }

  .formInputText {
      background-color: rgba(207, 220, 247, 0.041);
  }

  #update-button {
    border: transparent;
    border-radius: 10em;
    color: white;
    font-size: 17px;
    padding: 0.7em 0em;
    margin: 0.7em 0em;
    width: 70%;
    background-color: #4b96e6;
    align-content: center;
    text-align: center;
    position:relative;
    width:100%;
}

.uploadImage::-webkit-file-upload-button {
    visibility: hidden;
  }
  .uploadImage::before {
    content: 'Select Image';
    text-align: center;
    display: inline-block;
    background-color: aliceblue;
    border-radius: 10em;
    width:100%;
    padding: 0.7em 0em;
    margin: 0.7em 0em;
    border-color: black;
    white-space: nowrap;
    cursor: pointer;
    font-size: 17px;
  }
  .uploadImage:hover::before {
    border-color: black;
  }
