.formContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.authForm {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
    width: 25em;
}

.authForm > a {
    text-decoration: none;
}

.formHeading {
    text-align: center;
    font-weight: 500;
}

.fieldDiv {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.formLabel {
    font-weight: 500;
    font-size: 16px;
}

.formLabelInvalid:after {
    content: " *";
    color: red;
}

.formLabelValid:after {
    content: " *";
    color: #00b300;
}

.formInputText {
    display: block;
    padding: 0.6em 0.6em;
    margin: 0.4em 0em 1em 0em;
    width: 93%;
    font-size: 1em;
}

.formInputText:focus {
    outline: none;
    border: 2px solid #6598cf;
    box-shadow: 0 0 10px #719ECE;
}

#invalid-credentials {
    border: 1px solid rgb(179, 0, 0);
    border-radius: 10px;
    margin-bottom: 12.5px;
    background-color: rgb(255, 255, 255);
    display: none;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
}

#invalid-credentials-msg {
    margin-block: 14px;
    color: rgb(179, 0, 0)
}

.advice {
    text-align: left;
    font-size: 0.8em;
    margin: 0.25em 0em 0.25em 0em;
    color: gray;
}

.buttonsDiv {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.submitButton, .navButton {
    cursor: pointer;
    border: transparent;
    border-radius: 10px;
    color: white;
    font-size: 17px;
    padding: 0.7em 0em;
    margin: 0.7em 0em;
    background-color: #4b96e6;
}

.submitButton:focus, .navButton:focus {
    outline: none;
}

.navButton {
    background-color: white;
    border: 1px solid #4b96e6;
    color: #4b96e6;
}

#password-visibility-container {
    margin-top: 2.5px;
    margin-bottom: 12.5px;
    text-align: center;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
}

#password-visibility {
    width: 15px;
    height: 15px;
    margin-left: 0.8em;
}

#password-field-label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0.4em 0em 1em 0em;
}

#password-field-label > * {
    margin: 0em;
}

#password-field-label > p {
    font-size: 0.8em;
    text-align: start;
}

#auth-logo-div {
    position: absolute;
    display: flex;
    left: 0;
    margin: 1em 2.5em;
}

#auth-logo {
    width: 4em;
}

#close-button {
    cursor: pointer;
    width: 15px;
    filter: invert(10%) sepia(66%) saturate(7499%) hue-rotate(8deg) brightness(77%) contrast(118%);
}