/** item card formatting **/
.card {
    margin: 2em;
    border-radius: 10px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
    width: 15em;
    height: fit-content;
    overflow: hidden;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

/* item card image formatting */
.cardImage {
    width: 15em;
    border-radius: 10px;
    margin: 1em 0em;
}

/* formatting for when item disabled */
.cardDisabled > .cardImage {
    filter: blur(4px);
}

/* formatting for item image when item disabled */
#disabled-image {
    visibility: hidden;
    width: 9em;
    border-radius: 10px;
    margin: 3em;
    z-index: 1;
    position: absolute;
}

/* formatting for when item disabled */
.cardDisabled > #disabled-image {
    visibility: visible;
}

/* formatting for when item card details */
.cardDetails {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0em 1em;
    box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    height: 17em;
}

/* formatting for hovering over item card */
.card:hover {
    box-shadow: 0px -1px 9px rgb(19, 103, 182);
}

/* formatting for item brand and price */
.brandPrice {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* formatting for item brand */
#brand {
    font-weight: bold;
}

/* formatting for item title */
#title {
    font-style: italic;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

/* formatting for item rating */
#card-rating {
    border: 1px solid black;
}
