
.card {
    margin: 2em;
    border-radius: 10px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
    width: 15em;
    height: fit-content;
    overflow: hidden;
    text-decoration: none;
    color: black;
}

/* Image */
.cardImage {
    width: 15em;
    border-radius: 10px;
    margin: 1em 0em;
}

/* Text */
.cardDetails {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0em 1em;
    box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    height: 17em;
}

.card:hover {
    box-shadow: 0px -1px 9px rgb(19, 103, 182);
}

.brandPrice {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#brand {
    font-weight: bold;
}

#title {
    font-style: italic;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

#card-rating {
    border: 1px solid black;
}
