/** formatting for checkout item container **/
.checkoutItemContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 3em 10%;
    padding-bottom: 3em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    min-width: 1200px;
}

/** formatting for checkout item image **/
.checkoutItemImage {
    width: 12em;
}

/** formatting for checkout item column **/
.checkoutColumn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 20em;
}

/** formatting for checkout item information **/
.checkoutInfoContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-grow: 1;
}

/** formatting for checkout item information container **/
.checkoutInfoContainer > * {
    height: 100%;
}

/** formatting for checkout item column **/
.checkoutColumn > * {
    margin-top: 0.75em;
} 

/** formatting for remove item from checkout button **/
#remove-button {
    width: 2.5em;
    align-self: center;
}