#items-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#back-button-div {
    position: absolute;
    left: 0;
    top: 0;
    margin: 1.5em 2.5em;
}

#back-button {
    width: 3em;
    cursor: pointer;
}

#checkout-container {
    margin-left: auto;
    margin-right: auto;
}

#transaction-container {
    display: flex;
    font-size: larger;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#total-cost-text {
    margin-right: 1em;
}

#confirm-transaction-button {
    margin-left: 1em;
}