/* formatting for item list */
#items-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* formatting for back button div */
#back-button-div {
    position: absolute;
    left: 0;
    top: 0;
    margin: 1.5em 2.5em;
}

/* formatting for back button*/
#back-button {
    width: 3em;
    cursor: pointer;
}

/* formatting for checkout container */
#checkout-container {
    margin-left: auto;
    margin-right: auto;
}

/* formatting for transaction container */
#transaction-container {
    display: flex;
    font-size: larger;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* formatting for total cost */
#total-cost-text {
    margin-right: 1em;
}

/* formatting for confirm transaction button */
#confirm-transaction-button {
    cursor: pointer;
    border: transparent;
    border-radius: 10px;
    color: white;
    font-size: 17px;
    padding: 0.7em 0.7em;
    background-color: #4b96e6;
}