/** forms used in the edit profile section of the e-commerce site **/
#edit-form {
    display: inline-block;
    align-items: center;
    margin-right: 20em;
    margin-top: 5em;
    min-width: 25em;
    max-width: 60em;
}

/** formatting to set button as unclickable **/
.unclickable {
    cursor: auto;
    background-color: rgba(114, 182, 250, 0.5);
}