/** container containing profile information */ 
.profileContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}

.profileContainer::-webkit-scrollbar {
    display: none;
}

/** formatting for header 1 in profile section **/
.profileContainer > h1 {
    font-size: 7em;
    text-align: left;
    margin-left: 1em;
    min-width: 5em;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

/** formatting for header 2 in profile section **/
.profileContainer > h2 {
    font-size: 2em;
    text-align: center;
}

/** formatting for buttons corresponding to updates across the various profile pages **/
.updateButton {
    cursor: pointer;
    border: transparent;
    border-radius: 10px;
    color: white;
    font-size: 17px;
    padding: 0.7em 0em;
    margin: 1em 0em;
    background-color: #4b96e6;
    width:100%;
}
